%float-left {
	float: left;
}

%full-height-fixed {
	position: fixed;
	height: 100%;
}

%button {
	cursor: pointer;
	text-align: center;
	float: left;
}

%clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

%clearfix {
    display: inline-block;
}

%noselect {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}