doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/bower_components/glyphicons/styles/glyphicons.css')
  body
    block content
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/underscore/underscore-min.js")
    script(src="/bower_components/moment/min/moment.min.js")
    script(src="/bower_components/clndr/clndr.min.js")
    script(src="/javascripts/main.js")
