doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/bower_components/glyphicons/styles/glyphicons.css')
  body
    block content
