doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/semantic/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/components/glyphicons/styles/glyphicons.css')
  body
    block content
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/underscore/underscore-min.js")
    script(src="/components/moment/min/moment.min.js")
    script(src="/components/clndr/clndr.min.js")
    script(src="/javascripts/main.js")
